## 1.Basic Exercise for Beginners

Excercise 1: Swap the number without using third varible

In [1]:
a = 7
b = 9

a = a + b
b = a - b
a = a - b

print(a, b)

9 7

Exercise 2: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [13]:
a = 7536
a = str(a)
' '.join(a[::-1])

Exercise 3: Write a program that will give you the sum of 3 digits

In [27]:
a = 123
a = str(a)

result = 0

for i in range(len(a)):
    result += int(a[i]) 

result

6

Exercise 4: Write a program that will reverse a four digit number.Also it checks whether the reverse

In [9]:
a = 1234
rev_a = int(str(a)[::-1])

a == rev_a

False

Exercise 5: Write a program to find the euclidean distance between two coordinates.

In [8]:
import math

a = [3, 4]
b = [5, 6]

math.sqrt((a[0]-b[0])**2 + (a[1]-b[1])**2)

# math.dist(a, b) is only available after v3.8

2.8284271247461903

Exercise 6: Write a program that will tell whether the given number is divisible by 3 & 6.

In [12]:
a = 4

result = (a%3)+(a%6)
result == 0

False

Exercise 7: Write a program that will take three digits from the user and add the square of each digit.

In [19]:
a = 345

result = 0

for i in range(len(str(a))):
    result += (int(str(a)[i])) ** 2

result

50

Exercise 8: Write a program that will check whether the number is armstrong number or not.

An Armstrong number is one whose sum of digits raised to the power three equals the
number itself. 371, for example, is an Armstrong number because 3**3 + 7**3 + 1**3 =
371.

In [23]:
a = 371

result = 0
for i in range(len(str(a))):
    result += int(str(a)[i]) ** 3

a == result

True

Exercise 9:Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [26]:
a = 9474

result = 0
for i in range(len(str(a))):
    result += int(str(a)[i]) ** 4

a == result

True

## 2.python input and output exercise

Exercise 1: Accept numbers from a user

In [5]:
number = input('enter a number: ')

print(number)

12

Exercise 2: Display three string “Name”, “Is”, “James” as “Name ** Is ** James”

In [27]:
print('Name', 'Is', 'James', sep='**')

Name**Is**James

Exercise 3: Convert Decimal number to octal using print() output formatting

The octal number of decimal number 8 is 10

In [31]:
number = 12

print(oct(number)[-2:])

14

Exercise 4: Display float number with 2 decimal places using print()

In [1]:
num = 12.4567

print(round(num, 2))

12.46

Exercise 5: Print all factors of a given number provided by the user.

In [16]:
num = int(input('enter a number: '))

factors = []
for i in range(num):
    if 45%(i+1) == 0:
        factors.append(i+1)

factors

[1, 3, 5, 9, 15, 45]


Exercise 6: Accept a list of 5 float numbers as an input from the user

In [21]:
n = 0
num_list = []

while n < 5:
    num = float(input('enter a number: '))
    num_list.append(float(num))
    n += 1

num_list

[12.5, 5.0, 63.789, 96.0, 44.65]

Exercise 7: Accept any three string from one input() call

In [34]:
name_list = input("enter the three names with keeping space in between: ")

for i in range(3):
    print(name_list.split(' ')[i])

aaa
bbb
ccc

Exercise 8: Format variables using a string.format() method.

In [35]:
totalmoney=1200 
quantity=4 
price=450

print('I have {} dollars so I can buy {} footballs for {} dollars'.format(totalmoney, quantity, price))

I have 1200 dollars so I can buy 4 footballs for 450 dollars

Exercise 9: Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [37]:
amount = 67000
rate = 12
period = 5

interest = amount * rate/100 * period
interest

40200.0

## 3.files and exceptions

### what are the files and what are the exceptions


Exercise 1: Check file is empty or not,Write a program to check if the given file is empty or not

In [45]:
import os

os.stat('test.txt').st_size

17

Excercise 2: read content from the file

In [51]:
filename="test.txt"

with open(filename, 'r') as file:
    content=file.read() 
    
print(content)

Test

Test

Test

Excercise 3: read line by line

In [52]:
filename="test.txt"

with open(filename, 'r') as file:
    for line in file:
        print(line.strip())

Test

Test

Test

In [64]:
filename="test.txt"

with open(filename, 'r') as file:
    lines = [line.strip() for line in file if line.strip()]   # excluding blank lines
    for line in lines:
        print(line)

Test
Test
Test
add line


Excercise 4: now we will learn about writing to the files

In [54]:
filename="test.txt"

with open(filename, 'a') as file:  # using 'w' to replace the original content and using 'a' to add new content
    file.write('add line')

Excercise 5: writing multiple line to empty file

In [59]:
filename="test2.txt"

# create a new file and add content into the file
with open(filename, 'w') as file:
    file.write('the first line\n')
    file.write('the second line\n')

In [60]:
with open(filename, 'a') as file:
    for i in range(3, 10):
        file.write('line_{}\n'.format(i))

Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [70]:
with open('test2.txt', 'r') as file:
    lines = file.readlines()

with open('test3.txt', 'w') as file:
    line_cnt = 1
    for line in lines:
        if line_cnt != 5:
            file.write(line)
        line_cnt += 1

Exercise 7: Read line number 4 from the following file

In [73]:
with open('test2.txt', 'r') as file:
    lines = file.readlines()
    print(lines[3].rstrip())

line_4

### The Try and Except block

Excercise 8: Let see handling zero division exceptional error

In [74]:
try:
    print(5/0)
except ZeroDivisionError:
    print('Numbers cant be divided by zero')

Numbers cant be divided by zero

In [75]:
filename = 'test4.txt'

try:
    with open(filename, 'r') as file:
        print(file.read())
except FileNotFoundError:
    print('{} is not found'.format(filename))

test4.txt is not found

### the else block

Excercise 9:using else block

In [5]:
a = int(input('enter number one: '))
b = int(input('enter number two: '))

try:
    result = a/b
except ZeroDivisionError:
    print('Warning: numbers cant be divided by zero')
else:
    print(result)

4.166666666666667

In [7]:
print('enter q to exit')

while True:
    a = input('number one: ')
    if a == 'q':
        print('game over')
        break
    b = input('number two: ')
    if b == 'q':
        print('game over')
        break

    try:
        result = int(a)/int(b)
    except ZeroDivisionError:
        print('Warning: numbers cant be divided by zero')
    else:
        print(result)

enter q to exit
0.8333333333333334
game over

Excercise 10: how does finally block work in python

In [12]:
a = 3
b = 0

try:
    print(a/b)
except ZeroDivisionError:
    print('Warning: numbers cant be divided by zero')
finally:   # even with error still running
    print('Final result')

Warning: numbers cant be divided by zero
Final result

## 4.Python if else, for loop,while loop and range() Exercises with Solutions

Exercise 1: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

Expected result: 0,1,3,5,7,9,11,13,15,17

In [16]:
pre_num = 0
num_list = []

for i in range(10):
    num_sum = i + pre_num
    num_list.append(num_sum)
    pre_num = i

print(num_list)

[0, 1, 3, 5, 7, 9, 11, 13, 15, 17]

Exercise 2: Write a python program to search a given number from a list

In [20]:
l1=[4,5,6,2,3,9,1,4,5,6,3]

num = 7

In [21]:
find_num = 0

for i in range(len(l1)):
    if l1[i] == num:
        print('Find the number {} at position {}'.format(num, i+1))
        find_num += 1

if find_num == 0:
    print('The number isnt found')

The number isnt found

Exercise 3: Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [40]:
num = 545

num = str(num)
rev_num = num[::-1]

if num == rev_num:
    print('The number {} is palindrome'.format(num))

The number 545 is palindrome

Exercise 4: Create a new list from a two list using the following condition. 

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [43]:
l1=[1,2,3,4,5] 
l2=[6,7,8,9,10]

new_list = []

for i in range(len(l1)):
    if l1[i]%2 == 1:
        new_list.append(l1[i])

for i in range(len(l2)):
    if l2[i]%2 == 0:
        new_list.append(l2[i])

print(new_list)

[1, 3, 5, 6, 8, 10]

Exercise 5: Calculate income tax for the given income by adhering to the below rules 

first 10k--> 0%
second 10 --> 10%
remaining-->20%

Expected Output:
For example, suppose the taxable income is 45000 the income tax payable is 10000*0% + 10000*10% + 25000*20% = $6000.

In [54]:
income = 45000

In [55]:
if income <= 10000:
    tax = 0
elif income <= 20000:
    tax = (income - 10000) * 0.1
else:
    tax = 10000*0.1 + (income-20000)*0.2

print('Tax = {}'.format(tax))

Tax = 6000.0

Exercise 6: Print multiplication table form 1 to 10

In [64]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j, end=' ')
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

Exercise 7: Print all the armstrong numbers in the range of 100 to 1000

In [71]:
num_list = []

for number in range(100, 1001):
    number = str(number)
    num_3 = int(number[0])**3 + int(number[1])**3 + int(number[2])**3

    if int(number) == num_3:
        num_list.append(num_3)

print(num_list)

[153, 370, 371, 407]

Exercise 8: The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
* 10th year - 10000
* 9th year - 9000
* 8th year - 8100 and so on

In [8]:
pop = 10000
print('Year 10 : {}'.format(pop))

for i in range(9):
    pop = pop*(1-0.1)

    print('Year {} : {}'.format(9-i, int(pop)))

Year 10 : 10000
Year 9 : 9000
Year 8 : 8100
Year 7 : 7290
Year 6 : 6561
Year 5 : 5904
Year 4 : 5314
Year 3 : 4782
Year 2 : 4304
Year 1 : 3874

Exercise 9: Write a program to print all the unique combinations of two digits from 1 to 4 for ex (1,2), (2,3).....

In [9]:
num_list = [1, 2, 3, 4]

In [19]:
for i in range(len(num_list)):
    for j in range(i+1,len(num_list)):
        print((num_list[i], num_list[j]))

(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

In [20]:
for i in range(len(num_list)):
    for j in range(len(num_list)):
        if i != j:
            print((num_list[i], num_list[j]))

(1, 2)
(1, 3)
(1, 4)
(2, 1)
(2, 3)
(2, 4)
(3, 1)
(3, 2)
(3, 4)
(4, 1)
(4, 2)
(4, 3)

Exercise 10: Write a program to print whether a given number is prime number or not

In [43]:
num = 6

prime_cnt = 0
if num == 1:
    print('{} is not a prime number'.format(num))
else:
    for i in range(2, num):
        if num % i == 0:
            print('{} is not a prime number'.format(num))
            prime_cnt += 1
            break

    if prime_cnt == 0:
        print('{} is a prime number'.format(num))

6 is not a prime number

Exercise 11: User will provide 2 numbers you have to find the HCF of those 2 numbers

In [2]:
num1 = int(input('enter number one: '))
num2 = int(input('enter number two: '))

if num1 < num2:
    num_s = num1
    num_l = num2
else:
    num_s = num2
    num_l = num1

fac_list_1 = []
fac_list_2 = []

for i in range(2, num_s):
    if num_s % i == 0:
        fac_list_1.append(i)

for i in range(len(fac_list_1)):
    if num_l % fac_list_1[i] == 0:
        fac_list_2.append(fac_list_1[i])

print('HCF is {}'.format(fac_list_2[-1]))

HCF is 2

Exercise 12: User will provide 2 numbers you have to find the by LCM of those 2 numbers

In [10]:
num1 = int(input('enter number one: '))
num2 = int(input('enter number two: '))

if num1 < num2:
    num_l = num2
else:
    num_l = num1

while True:
    if (num_l % num1 == 0) & (num_l % num2 == 0):
        lcm = num_l
        print('LCM is {}'.format(num_l))
        break
    else:
        num_l += 1

LCM is 525

Exercise 13: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [13]:
angle1 = float(input('enter angle 1: '))
angle2 = float(input('enter angle 2: '))
angle3 = float(input('enter angle 3: '))

if (angle1 + angle2 + angle3 == 180) & (angle1 > 0) & (angle2 > 0) & (angle3 > 0):
    print('A triangle can be formed')
else:
    print('A triangle cannot be formed')

A triangle cannot be formed

Exercise 14: Write a program that will determine weather when the value of temperature and humidity is provided by the user.

In [15]:
temp = int(input('Todays temperature: '))
hum = int(input('Todays humidity: '))

if temp >= 30:
    if hum >= 90:
        print('Weather is Hot and Humid')
    else:
        print('Weather is Hot')
else:
    if hum >= 90:
        print('Weather is Cool and Humid')
    else:
        print('Weather is Cool')

Weather is Hot

Exercise 15: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [17]:
cost = int(input('Cost price : '))
selling = int(input('Selling price : '))

if selling >= cost:
    print('Profit : {}'.format(int(selling-cost)))
else:
    print('Loss : {}'.format(int(cost-selling)))

Profit : 50

Exercise 16: Write a program that will give you the in hand salary after deduction of 
* HRA(10%)
* DA(5%)
* PF(3%)
* tax(100K) 5-10:10% 11-20:20%  >20:30%  0-1:print k

In [20]:
salary = int(input('Original salary: '))

if salary > 2000000:
    tax = salary * 0.3
elif salary > 1000000:
    tax = salary * 0.2
elif salary > 500000:
    tax = salary * 0.1

after_salary = (salary - tax - salary * (0.1+0.05+0.03))/1000
print('Salary after deduction is {}K'.format(int(after_salary)))

Salary after deduction is 1240K

Exercise 17: Write a menu driven program
* 1.cm to ft
* 2.kl to miles
* 3.usd to inr
* 4.exit

In [27]:
user_input = int(input("""Enter 1 to 'cm' to 'ft' Enter 2 to 'km' to 'miles'
Enter 3 to 'USD' to 'INR'
Enter 4 to exit """))

ori_unit = ['cm', 'km', 'usd']
new_unit = ['ft', 'miles', 'inr']
scale = [0.0328, 0.6214, 82.89]

if user_input != 4:
    ori = int(input('Enter the number: '))
    new = round(ori * scale[user_input-1], 2)
    print('{} {} equals to {} {}'.format(ori, ori_unit[user_input-1], new, new_unit[user_input-1]))
elif user_input == 4:
    print('Exit')

34 km equals to 21.13 miles

Exercise 18: Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [31]:
heads = int(input('The number of heads: '))
legs = int(input('The number of legs: '))

dogs = (legs-heads*2)/2
chicken = (heads*4-legs)/2

print('The number of dogs: {}'.format(int(dogs)))
print('The number of chicken: {}'.format(int(chicken)))

The number of dogs: 0
The number of chicken: 2

Exercise 19: Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [33]:
user_input = int(input('How many number would you like to sum: '))

num_sum = 0
for i in range(user_input):
    num_sum += i+1

print('The sum of the first {} numbers: {}'.format(user_input, num_sum))

The sum of the first 10 numbers: 55

Exercise 20: Write a program that can multiply 2 numbers provided by the user without using the * operator

In [2]:
num1 = int(input('enter number one: '))
num2 = int(input('enter number two: '))


result = 0

for i in range(num1):
    result += num2

print(result)

8

Exercise 21: Write a program that can find the factorial of a given number provided by the user.

In [4]:
num = int(input('enter a number: '))

end_num = 1
result = 1

while True:
    if result == num:
        print('The number is {}!'.format(end_num))
        break
    else:
        end_num += 1
        result *= end_num

The number is 6!

Exercise 22: print following pattern

In [11]:
row_num = 5

for i in range(row_num):
    for j in range(i+1):
        print(i+1, end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Exercise 23: Print First 10 natural numbers using while loop

In [13]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

Exercise 24: Write a program to count the total number of digits in a number using a while loop. 

For example, the number is 75869, so the output should be 5.

In [25]:
number = int(input('enter a number: '))

cnt = 0

while number > 0:
    number = number//10
    cnt += 1

print('The number of digits is {}'.format(cnt))

The number of digits is 5

Exercise 25: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [28]:
num_input = int(input('enter a number: '))
num_sum = 0
num_cnt = 0

while num_input != 0:
    num_sum += num_input
    num_cnt += 1
    num_input = int(input('enter a number: '))

print('Sum: {}, Mean: {}'.format(num_sum, num_sum/num_cnt))

Sum: 11, Mean: 5.5

Exercise 26: Write a program to print the first 25 odd numbers

In [32]:
cnt = 0
num = 1

while cnt < 25:
    if num % 2 != 0:
        print(num)
        cnt += 1
    num += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Exercise 27: Print the following pattern

In [35]:
row_num = 5

for i in range(row_num):
    for j in range(i+1):
        print(j+1, end=' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Exercise 28: Print the following pattern

In [38]:
row_num = 5
num = 1

for i in range(row_num):
    for j in range(i+1):
        print(num, end=' ')
        num += 1
    print('\n')

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

Exercise 29: Print Pascal Triangle

In [84]:
row_num = 5
all_list = [1, 1, 1]
pre_list = [1, 1]

for j in range(row_num-2):
    new_list = [1]
    all_list.append(1)

    for i in range(len(pre_list)-1):
        num_new = pre_list[i]+pre_list[i+1]
        new_list.append(num_new)
        all_list.append(num_new)

    new_list.append(1)
    all_list.append(1)
    
    pre_list = new_list

num = 0
for i in range(row_num):
    for j in range(0, row_num-i-1):
        print(' ', end='')

    for j in range(i+1):
        print(all_list[num], end=' ')
        num += 1

    print('\n')

    1

   1 1

  1 2 1

 1 3 3 1

1 4 6 4 1

Exercise 30: Write a program to print multiplication table of a given number. 

For example, num = 2 so the output should be 2,4,6,8....20.

In [85]:
num = int(input('enter a number: '))

for i in range(10):
    print(num * (i+1))

16
32
48
64
80
96
112
128
144
160

Exercise 31: Write a program to display only those numbers from a list that satisfy the following conditions
* The number must be divisible by five
* If the number is greater than 150, then skip it and move to the next number 
* If the number is greater than 500, then stop the loop

In [88]:
num_list = [12,75,150,180,145,525,50]

for i in range(len(num_list)):
    if num_list[i] <= 500:
        if (num_list[i]%5 == 0) & (num_list[i]<=150):
            print(num_list[i])
    else:
        break

75
150
145

Exercise 32: Print the following pattern

In [95]:
row_num = 5

for i in range(row_num):
    for j in range(row_num-i):
        print(row_num-i-j, end=' ')
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Exercise 33: Print list in reverse order using a loop

In [97]:
l1=[1,2,3,4,5]

for i in range(len(l1)):
    print(l1[-(i+1)], end=' ')

5 4 3 2 1

Exercise 34: Display numbers from -10 to -1 using for loop

In [100]:
num1 = -10
num2 = -1

num = num1
for i in range(num1, num2+1):
    print(num, end=' ')
    num += 1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

Exercise 37: Display Fibonacci series up to 10 terms

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [2]:
seq_num = 10
f_seq = [0, 1]

for i in range(2, seq_num):
    next_num = f_seq[i-2] + f_seq[i-1]
    f_seq.append(next_num)

print(f_seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 5.Python Functions Exercise

Exercise 1: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [4]:
def exponent(base, exp):
    result = base ** exp
    return result

In [5]:
exponent(10, 2)

100

Exercise 2: Write a program to create a function that takes two arguments, name and age, and print their value.

In [6]:
def getdata(name, age):
    print('The age of {} is {}'.format(name, age))

In [8]:
getdata('Mark', 25)

The age of Mark is 25

Exercise 3: Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [9]:
def number_check(num_list):
    if num_list[0] == num_list[-1]:
        return True
    else:
        return False

In [11]:
num_list = [1, 2, 3, 4, 5, 2, 2]

number_check(num_list)

False

Exercise 4: Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [12]:
def num_prod(num1, num2):
    if num1 * num2 <= 1000:
        return num1 * num2
    else:
        return num1 + num2

In [14]:
num_prod(100, 25)

125

Exercise 5: Write a program to create function func1() to accept a variable length of arguments and print their value.

In [15]:
def inpit(*num):
    return num

In [18]:
inpit(21, 22, 23)

(21, 22, 23)

Exercies 6: Collecting arbitrary number of arguments

In [28]:
def make_pizza(size, *toppings):
    print('Size: {}'.format(size))
    print('Toppings:', end=' ')
    for i in toppings:
          print(i, end=' ')

In [29]:
make_pizza('small', 'cheese', "amli","paeri","dijvoe")

Size: small
Toppings: cheese amli paeri dijvoe

Exercise 7: Collecting arbitrary number of keyword arguments

In [33]:
def build_database(fname, lname, **userdata):
    database = {'first name':fname, 'last_name':lname}
    for key, value in userdata.items():
        database['key'] = value

    return database

In [35]:
build_database("milind", "mali", age=26, Loc="Pune")

{'first name': 'milind', 'last_name': 'mali', 'key': 'Pune'}

Exercise 9: Create a function with a default argument

Write a program to create a function show_employee() using the following conditions. It should accept the employee’s name and salary and display both. If the salary is missing in the function call then assign default value 9000 to salary

In [41]:
def show_employee(name, salary=9000):
    print('{}\'s salary is {}'.format(name, salary))

In [44]:
show_employee('Amy', 10000)

Amy's salary is 10000

Exercise 10: Create an inner function to calculate the addition in the following way
* Create an outer function that will accept two parameters, a and b
* Create an inner function inside an outer function that will calculate the addition of a and b 
* At last, an outer function will add 5 into addition and return it

In [45]:
def outer(a, b):

    def inner(a, b):
        return a+b
    
    return inner(a, b)+5

In [46]:
outer(1,5)

11

Exercise 11: Create a recursive function

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10. 

Expected Output: 55

In [49]:
def sum_seq(num):
    if num == 0:
        return 0
    else:
        return num + sum_seq(num-1)

In [50]:
sum_seq(10)

55


Write a program to create a recursive function to calculate the factorial of numbers from 0 to 10.

Expected Output: 120

In [51]:
def multiple_seq(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return num * multiple_seq(num-1)

In [57]:
multiple_seq(10)

3628800

Exercise 12: Assign a different name to function and call it through the new name

Below is the function display_student(name, age). Assign a new name show_student(name, age) to it and call it using the new name.

In [58]:
def display_student(name, age):
    print('The age of {} is {}'.format(name, age))

show_student = display_student

In [59]:
show_student('Amy', 16)

The age of Amy is 16

Exercise 14: Find the largest item from a given list

In [60]:
def find_max(num_list):
    max_num = 0

    for i in range(len(num_list)):
        if num_list[i] > max_num:
            max_num = num_list[i]
    
    return max_num

In [62]:
l1 = [4, 6, 8, 24, 12, 2, 65]

find_max(l1)

65

## 6.Python string Excercise with solutions

Exercise 1: Return the count of a given substring from a string

Write a program to find how many times substring “radha” appears in the given string

In [63]:
sentence="radha is most beutiful,radha is queen of vraj,radha is most beloved to govind"

sentence.count('radha')

3

Exercise 2: Print characters from a string that are present at an even index number

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [70]:
str = "pynative"
new_str = ''

for i in range(len(str)):
    if i%2 == 0:
        new_str += str[i]

print(new_str)

pntv

Exercise 3: Write a program to remove characters from a string starting from zero up to n and return a new string.

For example: remove_chars("pynative", 4) so output must be tive.

In [71]:
def remove_chars(ori_str, num):
    new_str = ''
    
    for i in range(len(ori_str)):
        if i >= num:
            new_str += str[i]
    
    return new_str

In [73]:
remove_chars("pynative", 2)

'native'

Exercise 4: Write a program to create a new string made of the middle three characters of an input string.

ex.JaSonAy-->Son

In [80]:
def mid3(ori_str):
    if len(ori_str)%2 == 0:
        print('Without the middle three')
    else:
        new_str = ''
        for i in range(int((len(ori_str)-1)/2)-1, int((len(ori_str)-1)/2)+2):
            new_str += ori_str[i]
        print('The middle three is {}'.format(new_str))

In [82]:
mid3('JhonDipPeta')

The middle three is Dip

Exercise 5: Count the frequency of a particular character in a provided string. 

Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [83]:
def ch_calculator(string, ch):
    cnt = 0
    for i in range(len(string)):
        if string[i] == ch:
            cnt += 1
    print('The frequency of {} is {}'.format(ch, cnt))

In [85]:
s = 'hello how are you'
ch_calculator(s, 'h')

The frequency of h is 2

Exercise 7: Write a program which can remove a particular character from a string.

In [92]:
def rem_ch(s, ch):
    new_s = ''
    for i in range(len(s)):
        if s[i] != ch:
            new_s += s[i]
    return new_s

In [93]:
s = 'milind'
rem_ch(s, 'i')

'mlnd'

Exercise 10: Arrange string characters such that lowercase letters should come first

In [97]:
def low_first(s):
    new_s = ''

    for i in range(len(s)):
        if s[i].islower():
            new_s += s[i]

    for i in range(len(s)):
        if not s[i].islower():
            new_s += s[i]

    return new_s

In [98]:
s = 'PyNaTive'
low_first(s)

'yaivePNT'

Exercise 11: Count all letters, digits, and special symbols from a given string

In [99]:
def counter(s):
    letter_cnt = 0
    digit_cnt = 0
    symbol_cnt = 0

    for i in range(len(s)):
        if s[i].isalpha():
            letter_cnt += 1
        elif s[i].isdigit():
            digit_cnt += 1
        else:
            symbol_cnt += 1
    
    print('The number of letters: {}'.format(letter_cnt))
    print('The number of digits: {}'.format(digit_cnt))
    print('The number of special symbols: {}'.format(symbol_cnt))

In [100]:
s = "P@#yn26at^&i5ve"
counter(s)

The number of letters: 8
The number of digits: 3
The number of special symbols: 4

Exercise 12: Create a mixed String using the following rules

Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [107]:
def create_string(s1, s2):
    
    new_s2 = ''
    for i in range(len(s2)):
        new_s2 += s2[-1-i]

    new_s = ''
    if len(s1) >= len(s2):
        for i in range(len(s2)):
            new_s += s1[i]
            new_s += new_s2[i]
        for i in range(len(s2), len(s1)):
            new_s += s1[i]
    else:
        for i in range(len(s1)):
            new_s += s1[i]
            new_s += new_s2[i]
        for i in range(len(s1), len(s2)):
            new_s += new_s2[i]       
    
    return new_s

In [108]:
s1="ABC" 
s2="xyzabc"
create_string(s1, s2)

'AcBbCazyx'