## 1. Basic Exercise for Beginners

Excercise 1: Swap the number without using third varible

In [9]:
a = 7
b = 9

a = a + b
b = a - b
a = a - b

print(a, b)

9 7

Exercise 2: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [13]:
a = 7536
a = str(a)
' '.join(a[::-1])

Excercise 3: Write a program that will give you the sum of 3 digits

In [27]:
a = 123
a = str(a)

result = 0

for i in range(len(a)):
    result += int(a[i]) 

result

6

Excercise 4: Write a program that will reverse a four digit number.Also it checks whether the reverse

In [9]:
a = 1234
rev_a = int(str(a)[::-1])

a == rev_a

False

Excercise 5: Write a program to find the euclidean distance between two coordinates.

In [8]:
import math

a = [3, 4]
b = [5, 6]

math.sqrt((a[0]-b[0])**2 + (a[1]-b[1])**2)

# math.dist(a, b) is only available after v3.8

2.8284271247461903

Excercise 6: Write a program that will tell whether the given number is divisible by 3 & 6.

In [12]:
a = 4

result = (a%3)+(a%6)
result == 0

False

Excercise 7: Write a program that will take three digits from the user and add the square of each digit.

In [19]:
a = 345

result = 0

for i in range(len(str(a))):
    result += (int(str(a)[i])) ** 2

result

50

Excercise 8: Write a program that will check whether the number is armstrong number or not.

An Armstrong number is one whose sum of digits raised to the power three equals the
number itself. 371, for example, is an Armstrong number because 3**3 + 7**3 + 1**3 =
371.

In [23]:
a = 371

result = 0
for i in range(len(str(a))):
    result += int(str(a)[i]) ** 3

a == result

True

Excercise 9:Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [26]:
a = 9474

result = 0
for i in range(len(str(a))):
    result += int(str(a)[i]) ** 4

a == result

True

## 2. python input and output exercise

Exercise 1: Accept numbers from a user

In [5]:
number = input('enter a number: ')

print(number)

12

Exercise 2: Display three string “Name”, “Is”, “James” as “Name ** Is ** James”

In [27]:
print('Name', 'Is', 'James', sep='**')

Name**Is**James

Exercise 3: Convert Decimal number to octal using print() output formatting

The octal number of decimal number 8 is 10

In [31]:
number = 12

print(oct(number)[-2:])

14

Exercise 4: Display float number with 2 decimal places using print()

In [1]:
num = 12.4567

print(round(num, 2))

12.46

Excercise 5: Print all factors of a given number provided by the user.

In [16]:
num = int(input('enter a number: '))

factors = []
for i in range(num):
    if 45%(i+1) == 0:
        factors.append(i+1)

factors

[1, 3, 5, 9, 15, 45]


Exercise 6: Accept a list of 5 float numbers as an input from the user

In [21]:
n = 0
num_list = []

while n < 5:
    num = float(input('enter a number: '))
    num_list.append(float(num))
    n += 1

num_list

[12.5, 5.0, 63.789, 96.0, 44.65]

Exercise 7: Accept any three string from one input() call

In [34]:
name_list = input("enter the three names with keeping space in between: ")

for i in range(3):
    print(name_list.split(' ')[i])

aaa
bbb
ccc

Exercise 8: Format variables using a string.format() method.

In [35]:
totalmoney=1200 
quantity=4 
price=450

print('I have {} dollars so I can buy {} footballs for {} dollars'.format(totalmoney, quantity, price))

I have 1200 dollars so I can buy 4 footballs for 450 dollars

Excercise 9: Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [37]:
amount = 67000
rate = 12
period = 5

interest = amount * rate/100 * period
interest

40200.0

## 3.files and exceptions

### what are the files and what are the exceptions


Exercise 1: Check file is empty or not,Write a program to check if the given file is empty or not

In [45]:
import os

os.stat('test.txt').st_size

17

Excercise 2: read content from the file

In [51]:
filename="test.txt"

with open(filename, 'r') as file:
    content=file.read() 
    
print(content)

Test

Test

Test

Excercise 3: read line by line

In [52]:
filename="test.txt"

with open(filename, 'r') as file:
    for line in file:
        print(line.strip())

Test

Test

Test

In [64]:
filename="test.txt"

with open(filename, 'r') as file:
    lines = [line.strip() for line in file if line.strip()]   # excluding blank lines
    for line in lines:
        print(line)

Test
Test
Test
add line


Excercise 4: now we will learn about writing to the files

In [54]:
filename="test.txt"

with open(filename, 'a') as file:  # using 'w' to replace the original content and using 'a' to add new content
    file.write('add line')

Excercise 5: writing multiple line to empty file

In [59]:
filename="test2.txt"

# create a new file and add content into the file
with open(filename, 'w') as file:
    file.write('the first line\n')
    file.write('the second line\n')

In [60]:
with open(filename, 'a') as file:
    for i in range(3, 10):
        file.write('line_{}\n'.format(i))

Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [70]:
with open('test2.txt', 'r') as file:
    lines = file.readlines()

with open('test3.txt', 'w') as file:
    line_cnt = 1
    for line in lines:
        if line_cnt != 5:
            file.write(line)
        line_cnt += 1

Exercise 7: Read line number 4 from the following file

In [73]:
with open('test2.txt', 'r') as file:
    lines = file.readlines()
    print(lines[3].rstrip())

line_4

### The Try and Except block

Excercise 8: Let see handling zero division exceptional error

In [74]:
try:
    print(5/0)
except ZeroDivisionError:
    print('Numbers cant be divided by zero')

Numbers cant be divided by zero

In [75]:
filename = 'test4.txt'

try:
    with open(filename, 'r') as file:
        print(file.read())
except FileNotFoundError:
    print('{} is not found'.format(filename))

test4.txt is not found

Excercise 9:using else block